.root {
	-fx-background-color: #474747;
}

.root > .label {
	-fx-text-fill: #FFFFFF;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane {
   -fx-background-color: transparent;
   -fx-border-color: #FFFFFF;
}

.matchentries {
	-fx-background-color: #474747;
}

.matchentries .label {
	-fx-text-fill: #FFFFFF;
}

#dialoglabel {
	-fx-text-fill: #FFFFFF;
}